<nav class="navbar app_nav navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">NiceFish</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['posts']">动态</a></li>
        <li><a href="#">集成图标</a></li>
        <li><a href="#">高德地图</a></li>
        <li><a href="#">集成jQuery</a></li>
        <li><a href="#">集成splumb</a></li>
        <li><a href="#">NiceFish</a></li>
        <li><a href="#">CodeBe</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">登录</a></li>
        <li><a href="#">注册</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="app_body">
  <router-outlet></router-outlet>
</div>
<footer class="app_body app_footer">
  Powered by <span>NiceFish</span>
</footer>
