.post_body{margin-bottom:1.875rem;} 
.post_body .panel .panel-body:not(last-child){border-bottom:1px solid #ddd;}
.post_body .search_content{padding:1.25em 0;border-bottom:1px solid #ddd;}
.post_body .search_content p{line-height:2.25em;}
.search_content p:first-child{color:#337ab7;font-size:1.125em;cursor:pointer;}
.search_content p:last-child{color:#000;}
.post_page{margin-bottom:7.5em;} 
.post_page a{cursor:pointer;} 