<div class="row post_body">
	<div class="col-md-9 col-xs-12">
		<div class="row">
			<div class="col-md-10 col-xs-12">
			<div class="input-group"> 
			  <input type="text" class="form-control" (focus)="foc($event)" placeholder="搜索" name="search" [(ngModel)]="search">  
			  <span class="input-group-btn">
			    <button class="btn btn-default" type="button" (click)="sList();">
			    搜索</button>
			  </span>
			</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-success">发布文章</button>
			</div>
		</div>
		<div class="search_content" *ngFor="let item of getList">  
			<p>{{item.title}}</p> 
			<p>
				<span>顶：{{item.likedTimes}}</span>
				<span>信：{{item.commentTimes}}</span>
				<span>看：{{item.readTimes}}</span>
				<span>{{item.userName}}</span>
				<span>{{item.postTime}}</span>
			</p>
		</div>
	</div>
	<div class="col-md-3 col-xs-0 post_panel">
		<div class="panel panel-default">
		  <div class="panel-heading">社交媒体</div>
		  <div class="panel-body">
		    官方微博
		  </div>
		  <div class="panel-body">
		    优酷视频教程
		  </div>
		  <div class="panel-body">
		    有关视频教程
		  </div>
		</div>
		<div class="panel panel-default">
		  <div class="panel-heading">QQ群-请勿加多个</div>
		  <div class="panel-body">
		    Angular 1区：286047042（满）
		  </div>
		  <div class="panel-body">
		    Angular 2区：139147114（满）
		  </div>
		  <div class="panel-body">
		    Angular 3区：895214758（满）
		  </div>
		</div>
	</div>
</div>
<nav aria-label="Page navigation" class="post_page"> 
  <ul class="pagination">
  	<li><a (click)="skipPage(1)">首页</a></li>
    <li> 
      <a aria-label="Previous" (click)="skipPage('f1')">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li *ngFor="let item of pageArr" [ngClass]="{'active':p==item}"><a (click)="skipPage(item)">{{item}}</a></li> 
    <li>
      <a aria-label="Next" (click)="skipPage('z1')">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li><a (click)="skipPage(page)">末页</a></li>
  </ul>
</nav>