<div class="row post_body">
	<div class="col-md-9 col-xs-12">
		<div class="row">
			<div class="col-md-10 col-xs-12">
			<div class="input-group">
			  <input type="text" class="form-control" placeholder="搜索">
			  <span class="input-group-btn">
			    <button class="btn btn-default" type="button">
			    搜索</button>
			  </span>
			</div>
			</div>
			<div class="col-md-2"> 
				<button class="btn btn-success">发布文章</button>
			</div>
		</div>
		<div class="search_content">
			<p>如果你是新手，请务必先看完本项目的视频教程</p>
			<p>
				<span>顶：5555</span>
				<span>信：10000</span>
				<span>看：15555</span>
				<span>大漠穷秋</span>
				<span>2017-05-17 10:44</span>
			</p>
		</div>
		<div class="search_content">
			<p>如果你是新手，请务必先看完本项目的视频教程</p>
			<p>
				<span>顶：5555</span>
				<span>信：10000</span>
				<span>看：15555</span>
				<span>大漠穷秋</span>
				<span>2017-05-17 10:44</span>
			</p>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-default"> 
		  <div class="panel-heading">社交媒体</div>
		  <div class="panel-body">
		    官方微博
		  </div>
		  <div class="panel-body">
		    优酷视频教程
		  </div>
		  <div class="panel-body">
		    有关视频教程
		  </div>
		</div>
		<div class="panel panel-default"> 
		  <div class="panel-heading">QQ群-请勿加多个</div>
		  <div class="panel-body">
		    Angular 1区：286047042（满）
		  </div>
		  <div class="panel-body">
		    Angular 2区：139147114（满）
		  </div>
		  <div class="panel-body">
		    Angular 3区：895214758（满）
		  </div>
		</div>
	</div>
</div>
